spring:
  application:
    name: demoapp

  profiles:
    active: dev

  datasource:
    url: jdbc:postgresql://localhost:5432/financial_toolkit
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: validate
    
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yml

server:
  port: 8080